<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все новости</h1>
    <!-- Выводим товары, только если они есть с помощью тега if -->
    {% if news %}
        <table> <!-- Начинаем описывать таблицу -->
            <tr> <!-- Добавляем строку -->
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Краткое содержание</td>
            </tr>

            {% for post in news %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.time_now }}</td>
                <td>{{ post.text|truncatechars:20 }}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <!-- Если товаров нет, говорим, что товаров нет ;) -->
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}