<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h2>{{ post.title }}</h2>
<h6> (Дата публикации: {{ post.time_creation|date:'d M Y' }}) </h6>
<hr>
<h5>{{ post.text|linebreaks }} (автор: {{ post.author.authorUser }})</h5> <!-- linebreaks регулирует отступы -->

{% endblock content %}