{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% load i18n %}

    <title>{% trans 'News search' %}</title>

{% block content %}
<form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
    <hr>
{% if search %}
        <table> <!-- Начинаем описывать таблицу -->
            <tr> <!-- Добавляем строку -->
                <td>{% trans 'Heading' %}</td>
                <td>{% trans 'Publication date' %}</td>
                <td>{% trans 'Summary' %}</td>
            </tr>

            {% for post in search %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.time_creation|date:'d M Y' }}</td>
                <td>{{ post.text|censor|truncatechars:20 }}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}

        <h2>{% trans 'No news found' %}</h2>
    {% endif %}
{% endblock content %}
