<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load censor_filter %}
{% load i18n %}

<!-- Название у нас будет Product -->
{% block title %}
{% trans 'Post' %}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h2>{{ post.title }}</h2>
<h6> ({% trans 'Publication date:' %} {{ post.time_creation|date:'d M Y' }}) </h6>
<hr>
<h5>{{ post.text|censor }} ({% trans 'Author' %} {{ post.author.authorUser }})</h5> <!-- linebreaks регулирует отступы -->

{% endblock content %}